boto3
broth
date-extractor
django
djangorestframework
djangorestframework-gis
djangorestframework-queryfields
django-rest-swagger
django-extensions
django-filter
django-guardian
django-timezone-field
editdistance
geojson
language-detector
numpy
psycopg2
scipy
